name: Run a notebook in databricks on PRs

on:
 pull_request:
   branches:
      - main
      - dev

jobs:
 run-databricks-notebook:
   runs-on: ubuntu-latest
   defaults:
      run:
        shell: bash
        working-directory: .
    environment: DEV
   steps:
     - name: Checkout repo
       uses: actions/checkout@v2
     - name: Run a databricks notebook
       uses: databricks/run-notebook@v0
       with:
         local-notebook-path: ./databricks_notebook.py
         databricks-host: https://adb-2076001011142467.7.azuredatabricks.net
         databricks-token: ${{ secrets.DATABRICKS_TOKEN }}
         git-commit: ${{ github.event.pull_request.head.sha }}
         new-cluster-json: >
           {
             "num_workers": 1,
             "spark_version": "13.1.x-scala2.12",
             "node_type_id": "Standard_D3_v2"
           }